*{
     margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;
 }


.formulario {
  max-width: 480px;
  margin: 40px auto;
  padding: 30px 25px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.formulario h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #003366;
  font-size: 28px;
  font-weight: 700;
}

.formulario label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 1rem;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"],
.formulario textarea {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 20px;
    border: 1.8px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    resize: vertical;
    transition: border-color 0.3s ease;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario input[type="tel"]:focus,
.formulario textarea:focus {
    border-color: #003366;
    outline: none;
}

.formulario button {
    width: 100%;
    padding: 14px 0;
    background-color: #003366;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario button:hover {
    color: #f7931e;
    background-color: #003366;
}
