*{
     margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;
 }

#rodape {
  background-color: #003366;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.2);
  padding-top: 20px;
  padding-bottom: 20px;
}
