*{
     margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;
 }

.texto-principal {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background-color: f0f0f0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #333;
  line-height: 1.6;
}

.texto-principal h2 {
  font-size: 1.8rem;
  color: #003366; /* azul institucional */
  margin-top: 24px;
  margin-bottom: 12px;
}

.texto-principal p {
  font-size: 1.05rem;
  margin-bottom: 16px;
}

.texto-principal ul {
  padding-left: 20px;
  margin-bottom: 16px;
}

.texto-principal ul li {
  margin-bottom: 8px;
  list-style-type: disc;
}

.imagem-curso {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
}
